.img-full {
  width: 100%;
}

button[type=submit] {
  float: right;
}

#cadastro .campo {
  margin-bottom: 1em;
}

#cadastro {
  margin-bottom: 130px;
}

main {
  margin-bottom: 50px;
}

article.imovel h1 {
  font-size: 1.6em;
}

article.imovel {
  margin-bottom: 1.2em;
}

article.imovel h2 {
  font-size: 1.2em;
}

div.footer-bottom {
  margin-top: 2em;
  background-color: #bbb;
  color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

div.copyright a {
  color: #fff
}

span.valor {
  font-size: 1.8em;
  color: #333;
}

div.copyright a:hover {
  color: #333;
  text-decoration: none;
}

nav.fix {
  position: fixed;
}
