.img-full {
  width: 100%;
}

button[type=submit] {
  float: right;
}

#cadastro .campo {
  margin-bottom: 1em;
}

article.imovel h1 {
  font-size: 1.6em;
}

article.imovel {
  margin-bottom: 1.2em;
}

article.imovel h2 {
  font-size: 1.2em;
}
