 {% extends "aluguel/base.html" %} {% block content %}
{% load widget_tweaks %}
<div class="container">
  <div class="row">
    <section class="col-md-6 col-md-offset-3">
      <form id="cadastro" method="post" enctype="multipart/form-data">
        <div class="row">
          {% csrf_token%}
          {# Include the hidden fields #}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          {# Include the visible fields #}
          {% for field in form.visible_fields %}
          {% if field.name == 'imagem' %}
            <div class="col-md-12">
              {{ field.label_tag }}
            </div>
            <div class="col-md-12 campo">
              {% render_field field  %}
            </div>
          {% else %}
              <div class="alert-danger">
                {{ field.errors }}
              </div>
              <div class="col-md-12">
                {{ field.label_tag }}
              </div>
              <div class="col-md-12 campo">
                {% render_field field  class+="form-control" %}
              </div>
          {% endif %}


          {% endfor %}
        </div>
        <div class="float-right">
          <button class="btn btn-success" type="submit" name="button">salvar</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}
