 {% extends "aluguel/base.html" %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <main class="col-md-9">
      {%if bairro or cidade %}
      <h1>Você pesquisou por: {{rua}} {{bairro}} {{cidade}}</h1>
      {% endif %}
      {% if lista %}
      <section>
        {%for imoveis in lista%}
        <article class="imovel thumbnail">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <img src="{{imoveis.imagem.url}}" alt="" class="img-full">
            </div>
            <div class="col-md-9 col-xs-12">
              <div class="">
                <h1>Nome do proprietario: <span>{{imoveis.nome}}</span><br>Telefone para contato:<span>{{imoveis.telefone}}</span> </h1>
                <h2>Endereço: {{imoveis.rua}},n {{imoveis.numero}}, {{imoveis.bairro}}, {{imoveis.cidade}}</h2>
              </div>
              {%if imoveis.valor and imoveis > 0%}
                <div class="float-right">
                  <span>Valor de locação: </span>
                  <span class="valor">R$ {{imoveis.valor}}</span>
                </div>
              {%endif%}
            </div>
          </div>
        </article>
        {%endfor%}
      </section>
      {%else%}
      <p>Nenhum resultado foi encontrado</p>
      {% endif %}

    </main>
    <aside class="col-md-3">
      <nav class="navbar fix">
        <form class="" action="/pesquisa/" method="get">
          <div class="">
            <label for="rua">Rua</label>
            <input type="text" name="rua" class="form-control" value="{{rua}}" placeholder="rua">
          </div>
          <div class="">
            <label for="bairro">Bairro</label>
            <input type="text" name="bairro" class="form-control"value="{{bairro}}"  placeholder="Bairro">
          </div>
          <div class="">
            <label for="cidade">Cidade</label>
            <input type="text" name="cidade" class="form-control" value="{{cidade}}"  placeholder="Cidade">
          </div>
          <div>
            <button type="submit" class="btn btn-default">Pesquisar</button>
          </div>
        </form>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
